<div class="border p-4">
  <div class="">
    <h4 class="mb-3">Actualizar Contenedor</h4>

    <form class="needs-validation" (submit)="onRegister($event)">
      <div class="">
        <div class="mt-3">
          <label class="form-label">Codigo</label>
          <input
            type="number"
            [value]="container.id"
            [disabled]="true"
            class="form-control"
            placeholder="Codigo"
          />
        </div>

        <div class="mt-3">
          <label class="form-label">Capacidad</label>
          <input
            type="number"
            [value]="container.capacity"
            [disabled]="true"
            class="form-control"
            placeholder="Capacidad"
          />
        </div>

        <div class="mt-3">
          <label class="form-label">Empresa</label>
          <input
            type="text"
            class="form-control"
            [value]="container.company"
            [disabled]="true"
            placeholder="Empresa"
          />
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-5">Eliminar</button>
      </div>
    </form>
  </div>
</div>