<div class="container">
  <header
    class="d-flex align-items-center justify-content-between py-3 mb-4 border-bottom"
  >
    <div class="d-flex align-items-center gap-3">
      <img src="assets/logo.png" alt="" routerLink="/" />

      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a routerLink="/" routerLinkActive="link-secondary" class="nav-link">Inicio</a>
        </li>
        
        @if (currentUser !== null) {
          <li class="nav-item">
            <a routerLink="/alta-producto" routerLinkActive="link-secondary" class="nav-link">Alta producto</a>
          </li>
          <li class="nav-item">
            <a routerLink="/productos" routerLinkActive="link-secondary" class="nav-link">Productos</a>
          </li>
        }
      </ul>
    </div>

    @if (currentUser == null) {
    <a routerLink="/login" class="btn btn-outline-primary">Iniciar sesión</a>
    } @else {
      <button type="button" class="btn btn-outline-primary" (click)="onLogout()">Cerrar sesión</button>
    }
  </header>

  <main>
    <router-outlet />
  </main>
</div>
